header {
    text-align: center;
}

body,html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #eff5f8
}

#btn-start {
    border: none;
    width: auto;
    display: inline-block;
    border-radius: 10px;
    
}

h1 {
    text-align: center;
    line-height: 100px;
    border: #eff5f8;   
} 

